.mainTitle {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: calc((100vw - 480px) / (1280 - 480) * (40 - 20) + 20px);
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
  color: #f5f7fa;
}
.notFoundBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.notFoundTitle {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: calc((100vw - 480px) / (1280 - 480) * (128 - 100) + 100px);
  line-height: 121px;
}
.notFoundDescr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: calc((100vw - 480px) / (1280 - 480) * (16 - 14) + 14px);
  line-height: 29px;
  padding-bottom: 2%;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    padding-top: 90px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding-top: 100px;
  }
}
@media (min-width: 2300px) {
  .wrapper {
    padding-top: 150px;
  }
}
